server {
	server_name {{ project.hostname }} www.{{ project.hostname }};
    {% if project.type == 'laravel' %}
	root /var/www/{{ project.hostname }}/public;
    {% elif project.type == 'wordpress' %}
    root /var/www/{{ project.hostname }};
    {% endif %}

	add_header X-Frame-Options		"SAMEORIGIN";
	add_header X-XSS-Protection		"1; mode=block";
	add_header X-Content-Type-Options	"nosniff";

	index index.php;

	charset utf-8;

	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

	location = /favicon.ico { access_log off; log_not_found off; }
	location = /robots.txt { access_log off; log_not_found off; }

	error_page 404 /index.php;

	location ~ \.php$ {
		fastcgi_pass unix:/var/run/php/{{ project.hostname }}.sock;
		fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
		include fastcgi_params;
	}

	location ~ /\.(?!well-known).* {
		deny all;
	}

	listen 443 ssl;
	ssl_certificate /var/www/{{ project.hostname }}/config/local/{{ project.hostname }}.pem;
	ssl_certificate_key /var/www/{{ project.hostname }}/config/local/{{ project.hostname }}-key.pem;
}
server {
	if ($host = www.{{ project.hostname }}) {
		return 301 https://$host$request_uri;
	}

	if ($host = {{ project.hostname }}) {
		return 301 https://$host$request_uri;
	}

	server_name {{ project.hostname }} www.{{ project.hostname }};
	listen 80;
	return 404;
}
